body {
    font-family: Arial, sans-serif;
    padding: 10px;
    width: 100vw;
}

header {
    text-align: center;
    border: 2px solid black;
    background-color: grey;
    width: 100vw;
    padding: 10px;
    marging-right: 10px;
}

.photo-gallery img{
    width: 30%;
    height: 30%;
    border-radius: 8px;
}

h2 {
    color: #333;
    margin-top: 20px;
}